body{
    background:  #007BFF;
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat-ExtraLight'; 
}

.link:hover{
cursor:pointer;
color: black;
}

label, input{
   font-family: 'Montserrat-ExtraLight'; 
}
label{
    font-size:1em;
    font-weight: bold;
}
input{
    padding-left: 6em;
    padding-right: 6em;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    border: none;
    border-bottom: solid 2px gray;
}
.btnEntrar{
    background: #007BFF;
    color: white;
    border: none;
    padding: 1em;
    padding-left: 16em;
    padding-right: 16em;
    border-radius: 2em;
}
.btnEntrar:hover {
background: white;
color: #007BFF;
border: solid 2px #007BFF;
cursor: pointer;
}

@font-face {
    src: url(Montserrat/static/Montserrat-ExtraLight.ttf);
    font-family: 'Montserrat-ExtraLight';    
    font-weight: normal;}
@media screen and (max-width: 950px){


    .logo {
        width: 30%;
    }
    body{
        margin-top: 7em;
    }
input{
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 0.9em;
    width: 90%;

}
label{
    font-size: 1.2em;
    font-weight: bold;
}
.btnEntrar{
    padding: 1em;
    width: 50%;
}

.container{
    border-radius: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

}