body{
    background: black;
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
}
.container{
    margin-top: 3em;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 5em;
    margin-left: 10em;
    margin-right: 10em;

}
.logo{
    width: 20%;
}
label, input{
   font-family: 'Montserrat-ExtraLight'; 
}
label{
    font-size:2em;
    font-weight: bold;
}
input{
    border-radius: 3em;
    padding-left: 6em;
    padding-right: 6em;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    border: solid 1px rgb(121, 121, 121);
}
.btnEntrar{
    background: #007BFF;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 2em;
}
.btnEntrar:hover {
background: white;
color: #007BFF;
border: solid 2px #007BFF;
cursor: pointer;
}
@font-face {
    src: url(Montserrat/static/Montserrat-ExtraLight.ttf);
    font-family: 'Montserrat-ExtraLight';    
    font-weight: normal;}
@media screen and (max-width: 950px){

    body{
        margin-top: 7em;
    }
input{
    border-radius: 3em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    font-size: 0.9em;
    width: 50%;

}
label{
    font-size: 1.2em;
}
.btnEntrar{
    padding: 1em;
}

.container{
    margin-left: 5em;
    margin-right: 5em;
}

}